Repository jalezi/zdravniki-app-router: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, next lint, next-lint

feat: 💄 applies active style for active nav link
  src/components/header/navigation/Nav.tsx
Due: none

fix: 🩹 removes redundant rel attributes from social and
  src/components/header/link/SocialLink.tsx
  src/components/header/navigation/Nav.tsx
Due: none

chore: ➕ adds zod
  package.json
  pnpm-lock.yaml
Due: none

chore: 🔧 updates linting configuration
  .lintstagedrc.json
Due: none

chore: 🔧 lint-stages config based on nextjs docs
  .eslintrc.json
  .lintstagedrc.js
  .lintstagedrc.json
Due: none

style: 🚨 updates tailwind.config.ts
  tailwind.config.ts
Due: prettier --write, next lint

feat: ✨ adds URL constants & getTimestamp func
  src/lib/constants/url.ts
  src/lib/get-timestamp.ts
  src/lib/schemas/index.ts
Due: prettier --write, next lint

feat: 🌐 adds footer & timestamp translations
  src/locales/en/footer.ts
  src/locales/en/index.ts
  src/locales/en/timestamp.ts
  src/locales/it/footer.ts
  src/locales/it/index.ts
  src/locales/it/timestamp.ts
  src/locales/sl/footer.ts
  src/locales/sl/index.ts
  src/locales/sl/timestamp.ts
Due: prettier --write, next lint

feat: ✨ adds LongDate component
  src/components/long-date/LongDate.tsx
  src/components/long-date/index.ts
Due: prettier --write, next lint

feat: ✨ Adds Footer component
  src/components/footer/Footer.tsx
  src/components/footer/index.ts
  src/styles/globals.css
Due: prettier --write, next lint

feat: adds Footer component to MDX layout
  src/app/[locale]/(mdx)/layout.tsx
Due: none

feat: 💄 makes mdx footer hidden behind main el
  src/app/[locale]/(mdx)/layout.tsx
  src/components/header/Header.tsx
  src/styles/globals.css
Due: prettier --write

refactor: ♻️ footer translations & adds LongDate's
  src/components/footer/Footer.tsx
  src/components/long-date/LongDate.tsx
Due: none

fix: 🚑️ on mobile links in closed menu focusable
  src/components/header/navigation/Nav.tsx
Due: none

refactor: ♻️ Refactor navigation component
  src/components/header/Header.tsx
  src/components/header/navigation/Links.tsx
  src/components/header/navigation/Navigation.tsx
  src/components/header/navigation/index.ts
Due: prettier --write, next lint

chore: ➕ adds react-focus-on package
  package.json
  pnpm-lock.yaml
Due: none

feat: ✨ adds mobile nav focus management
  src/components/header/hamburger/Hamburger.tsx
  src/components/header/navigation/Navigation.tsx
Due: none

chore: ⬇️ downgrades remark-gfm to v3.0.1
  package.json
  pnpm-lock.yaml
Due: none

feat: ✨ adds slovenian faq content
  content/faq.sl.mdx
Due: none

chore: ➕ adds rehype's slug & hypelink plugin deps
  package.json
  pnpm-lock.yaml
Due: none

refactor: 🚚 renames MDXExternalLink to MDXLink
  content/faq.sl.mdx
  src/app/[locale]/(mdx)/about/page.tsx
  src/app/[locale]/(mdx)/faq/page.tsx
  src/components/ui/mdx-link.tsx
Due: none

feat: 🍱 adds link icon SVG file
  public/assets/svg/icon-link.svg
  src/assets/svg/icon-link.svg
Due: none

feat: ✨ adds MDX headings components
  src/components/ui/mdx-headings.tsx
Due: none

fix: 💄 formatting issues in MDX files
  content/faq.sl.mdx
  src/app/[locale]/(mdx)/about/page.tsx
  src/app/[locale]/(mdx)/faq/page.tsx
  src/app/[locale]/(mdx)/layout.tsx
  src/app/[locale]/layout.tsx
  src/styles/globals.css
Due: prettier --write

refactor: ♻️ move className to LongDate component
  src/components/footer/Footer.tsx
  src/components/long-date/LongDate.tsx
Due: none

refactor: 💄 updates layout styles in MDX file
  src/app/[locale]/(mdx)/layout.tsx
Due: none

refactor: 💄 updates table styling & alignment
  content/faq.sl.mdx
  tailwind.config.ts
Due: prettier --write, next lint

feat: 🔥 deletes MDXLink component
  src/components/ui/mdx-link.tsx
Due: none

chore: ➕ adds rehype-external-links package
  package.json
  pnpm-lock.yaml
Due: none

refactor: ♻️ use rehype-external-links
  src/app/[locale]/(mdx)/about/page.tsx
  src/app/[locale]/(mdx)/faq/page.tsx
Due: none

fix: ♿️ adds aria-labelledby attribute to Logo
  src/components/header/Header.tsx
  src/components/header/hamburger/Hamburger.tsx
  tailwind.config.ts
Due: prettier --write, next lint

fix: ✏️ redudant ]
  content/faq.sl.mdx
Due: none

feat: ♻️ import rehype & remark plugins only once
  src/app/[locale]/(mdx)/about/page.tsx
  src/app/[locale]/(mdx)/faq/page.tsx
  src/app/[locale]/(mdx)/rehype-and-remark-plugins.ts
Due: prettier --write, next lint

chore: ➕ adds rehype-rewrite & @types/hast deps
  package.json
  pnpm-lock.yaml
Due: none

feat: ✨ Add table caption and tfoot to HTML AST
  content/faq.sl.mdx
  src/app/[locale]/(mdx)/about/page.tsx
  src/app/[locale]/(mdx)/faq/page.tsx
  src/app/[locale]/(mdx)/rehype-and-remark-plugins.ts
  tailwind.config.ts
Due: prettier --write, next lint

chore: 💩 somehow screed up mdx prettier or
  .eslintrc.json
  content/about.en.mdx
  content/about.it.mdx
  content/about.sl.mdx
  content/faq.en.mdx
  content/faq.it.mdx
  content/faq.sl.mdx
Due: none

fix: 🐛 tr can not be child of tr
  src/app/[locale]/(mdx)/rehype-and-remark-plugins.ts
Due: prettier --write, next lint

fix: 🚑️ no auto link headings - rehype plugins
  src/app/[locale]/(mdx)/rehype-and-remark-plugins.ts
Due: prettier --write, next lint

chore: 🧑‍💻 adds logging config for fetches
  next.config.mjs
Due: none

chore: 🧑‍💻 updates unused vars lint rule
  .eslintrc.json
Due: none

Path conditions:
  prettier --write: ((any of: *.ts) or (any of: *.html)) or (any of: *.css)
  next lint: any of: *.ts
  next-lint: any of: *.html
